:root {
  --background-color: #201f24;
  --secondary-background-color: #17181C;
  --primary-color: #2c90ff;
  --secondary-color: #6e717a;
  --on-primary-color: #ffffff;
  --on-secondary-color: #ffffff;
}

#root {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

* {
  color: var(--on-primary-color);
  font-family: 'Poppins', sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background-color);
  margin-left: 200px;
  overflow: hidden;
}

input {
  padding: 1vh 2vh;
  font-size: 2vh;
  border-radius: 5px;
  border: 1px thin var(--primary-color);
  margin: 1vh 0 2vh 0;
  outline: 1px solid var(--primary-color);
  color: var(--secondary-color);
}

input::selection {
  color: var(--primary-color);
}

a {
  color: var(--primary-color);
}

::selection {
	background: var(--primary-color);
	color: var(--on-primary-color);
}
