.Sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-background-color);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 1;
}

.Sidebar .header {
  padding: 3rem;
  text-decoration: none;
}

.Sidebar .profile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  text-decoration: none;
}

.Sidebar .profile:hover {
  color: white;
}

.Sidebar .profile .avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--primary-color);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin-right: 20px;
}

.Sidebar .item {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 20px;
  border-radius: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
  margin-bottom: 15px;
}

.Sidebar .item:hover {
  background-color: var(--primary-color);
}

.Sidebar .item .icon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.Sidebar .login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 3rem 1rem 3rem;
  font-size: 24px;
  background: var(--primary-color);
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
}

.Sidebar .login-button:hover {
  background: white;
  color: var(--primary-color);
}

.Sidebar .logout-button {
  background: transparent;
  border: 0;
  color: white;
  cursor: pointer;
  padding: 1rem 3rem 1rem 3rem;
}

.Sidebar .logout-button:hover {
  background: white;
  color: var(--primary-color);
}
