.LoadingScreen .content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.LoadingScreen .content .waiting-for-opponent {
	font-size: 4vh;
	color: var(--on-primary-color);
}

.LoadingScreen .content button {
	background-color: var(--primary-color);
	border-color: var(--primary-color);
	border: 0;
	border-radius: 20px;
	transition: 300ms ease-in-out;
	padding: 1vh 10vh;
	margin-top: 5vh;
}

.LoadingScreen .content button:hover {
	background-color: white;
	color: var(--primary-color);
	cursor: pointer;
}
