
.Auth .title {
  color: var(--primary-color);
  height: 10vh;
}

.Auth .container {
  border: 0.2vh solid var(--primary-color);
  border-radius: 10px;
  width: 80vh;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Auth .form {
	width: 40vh;
}

.Auth input {
  width: 36vh;
  margin-bottom: 2vh;
}

.Auth button {
  margin-top: 2vh;
  width: 100%;
}

.Auth .alternative {
  font-size: small;
  display: flex;
  justify-content: flex-end;
  padding: 0;
  font-weight: lighter;
}

.Auth a {
  margin-left: 1vh;
  font-weight: bold;
}

.Auth .confirm-button:hover {
	color: var(--primary-color);
	background: white;
}


